@import '../../../styles/variables.scss';

.itemList {
  height: 400px;
  margin-right: 27.5px;

  &:nth-child(5n) {
    margin-right: 0;
  }

  .listImg {
    width: 130px;
    height: 130px;
    cursor: pointer;
  }

  .listIcons {
    .itemListImg {
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .listText {
    width: 130px;
    height: 50px;
    margin-top: 16px;
    font-size: 13px;
    word-wrap: break-word;
    cursor: pointer;
  }

  .listPrice {
    display: flex;
    justify-content: end;
    font-size: 12px;
  }

  .tag {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 130px;
    padding: 16px 0 16px 0;
    letter-spacing: -0.5px;

    .sale {
      width: 30px;
      margin: 4px 4px 0 0;
      background: $muziRed;
      color: #fff;
      font-size: 11px;
      @include borderBox($muziRed);
    }

    .onlineSize {
      width: 86px;
      margin: 4px 4px 0 0;
      background: #fff;
      color: $muziRed;
      font-size: 11px;
      @include borderBox($muziRed);
    }

    .freeShipping {
      width: 46px;
      margin: 4px 4px 0 0;
      background: #fff;
      color: $muziRed;
      font-size: 11px;
      @include borderBox($muziRed);
    }

    .soldOut {
      width: 27px;
      margin: 4px 4px 0 0;
      background: #fff;
      color: $muziRed;
      background: #fff;
      font-size: 11px;
      @include borderBox($muziRed);
    }
  }
}
