@import '../../styles/variables.scss';

.listLanding {
  text-align: center;
  padding: 50px;

  img {
    width: 200px;
    margin-top: 30px;
  }

  .listLandingTit {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 700;
    color: $muziRed;
  }

  .listLandingText {
    margin-top: 10px;
    font-size: 15px;
    color: #919191;
  }
}
