body {
  box-sizing: border-box;

  input {
    margin-right: 10px;
    width: 20px;
    cursor: pointer;
  }
}

.detail {
  .detailWrap {
    display: flex;

    .imageWrap {
      .bigImg {
        margin-top: 50px;
        width: 340px;
        height: 350px;
      }

      .smallImgWrap {
        display: flex;
        padding: 45px 0;

        .smallImgLi {
          .smallImg {
            margin-right: 14px;
            width: 60px;
            height: 60px;
            border: 1px solid #ccc;
            cursor: pointer;

            &:hover {
              border: 1px solid #7f0019;
              transition: all 0.7s ease 0s;
            }
          }
        }
      }
    }
  }

  .detailBox {
    padding: 20px;

    .detailTextWrap {
      padding: 16px;

      .detailTitle {
        font-size: 19px;
        font-weight: bold;
        padding: 13px 0 16px;
        color: #000;
      }

      .detailPrice {
        display: flex;
        font-size: 12px;

        .detailPriceL {
          float: left;
          padding: 2px 0 0;
          margin-right: 10px;
          font-weight: bold;
          border: 0;
        }

        .detailPriceR {
          font-weight: bold;
          font-size: 18px;
          line-height: 100%;
          color: #7f0019;

          span {
            font-size: 12px;
            font-weight: normal;
          }
        }
      }

      .detailtext {
        color: #333;
        font-size: 12px;
        line-height: 16px;
        border-top: 1px dotted #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        padding: 15px 0;
        margin-top: 11px;
      }
    }

    .detailColor {
      display: flex;
      flex-direction: column;
      padding: 0 20px 16px;

      .colorSelect {
        display: flex;
        justify-content: space-between;

        .colorSelectL {
          font-size: 13px;
        }

        .colorSelectR {
          height: 16px;
          margin-top: 2px;
          cursor: pointer;
        }
      }
      .colorWrap {
        margin-top: 20px;

        .colorB {
          margin-bottom: 6px;
        }

        .colorW {
          margin-bottom: 6px;
        }

        .colorG {
          margin-bottom: 6px;
        }
      }
    }

    .detailSize {
      display: flex;
      flex-direction: column;
      padding: 0 20px 18px;

      .sizeSelect {
        display: flex;
        justify-content: space-between;

        .sizeSelectL {
          font-size: 13px;
        }

        .sizeSelectR {
          height: 16px;
          margin-top: 2px;
          cursor: pointer;
        }
      }
    }

    .detailAmount {
      display: flex;
      justify-content: space-between;
      padding: 16px;

      .amountSelect {
        padding: 5px 0 5px;
      }

      .amountBtn {
        .amountDown {
          width: 32px;
          border-radius: 50%;
          border: 1px solid #dedede;
          background-color: transparent;
          font-size: 20px;
          color: #666666;
          cursor: pointer;
        }

        span {
          display: inline-block;
          text-align: center;
          width: 44px;
        }

        .amountUp {
          width: 32px;
          border-radius: 50%;
          border: 1px solid #dedede;
          background-color: transparent;
          font-size: 20px;
          color: #666666;
          cursor: pointer;
        }
      }
    }
  }
}
